body {
  background-color: #333;
  color: #ccc;
}
.balance {
  background-color: #fff;
  color: #000;
}
.icon {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(50deg);
}